$base-margin: 20px;

@mixin set-position($v: unset, $h: unset, $type: absolute) {
  position: $type;
  @if ($v==center and $h==center) {
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  } @else {
    @if ($v==top) {
      top: $base-margin;
    } @else if ($v==center) {
      top: 50%;
      transform: translateY(-50%);
    } @else if ($v==bottom) {
      bottom: $base-margin;
    }

    @if ($h==left) {
      left: $base-margin;
    } @else if ($h==center) {
      left: 50%;
      transform: translateX(-50%);
    } @else if ($h==right) {
      right: $base-margin;
    }
  }
}

// Bulma breakpoints
@mixin bulma-mobile {
  @media (max-width: 768px) { @content; }
}

@mixin bulma-tablet {
  @media (min-width: 769px) { @content; }
}

@mixin bulma-touch {
  @media (max-width: 1215px) { @content; }
}

@mixin bulma-desktop {
  @media (min-width: 1024px) { @content; }
}

@mixin bulma-widescreen {
  @media (min-width: 1216px) { @content; }
}

@mixin bulma-fullhd {
  @media (min-width: 1408px) { @content; }
}

// Bulma "-only" variants
@mixin bulma-tablet-only {
  @media (min-width: 769px) and (max-width: 1023px) { @content; }
}

@mixin bulma-desktop-only {
  @media (min-width: 1024px) and (max-width: 1215px) { @content; }
}

@mixin bulma-widescreen-only {
  @media (min-width: 1216px) and (max-width: 1407px) { @content; }
}

// Bulma "until-" variants
@mixin bulma-until-widescreen {
  @media (max-width: 1215px) { @content; }
}

@mixin bulma-until-fullhd {
  @media (max-width: 1407px) { @content; }
}
