$themes: (
  'light-mode': (
    'white': #ffffff,
    'black': #000000,
    'text-color': #000000,
    'border-color': #000000,
    'text-color-inverse': #ffffff,
    'background-color': #ffffff,
    'background-color-inverse': #191718,
    'link-hover': #6b6b6b,
    'k-accent': #ff7ac3,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #ffe5f3,
    'k-accentlight2': #ffe5f3,
    'k-accentlight2-dark': #363234,
    'k-accentlight2-dark-head': #191718,
    'k-accentlight2-dark-paragraph': #191718,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-orange': #cf9a10,
    'k-redaccent': #ffb6b6,
    'k-redaccent2': #ffe6e6,
    'k-grey': #999999,
    'k-grey-fix': #999999,
    'k-grey-light': #ECECEC,
    'k-pink': #ffb6ef,
    'k-yellow': #feffb6,
    'k-blueaccent': #b6cbff,
    'k-aqua-blue': #cafdf4,
    'k-greenaccent': #c2ffac,
    'k-greenaccent2': #e6f7e6,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-blue-hover': #3567e0,
    'k-blueLight': #e8edfb,
    'blue-light-cards': #e9eefc,
    'k-primary': #ff7ac3,
    'k-primaryLight': #fff0f8,
    'k-shade': #cccccc,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px black,
    'disabled': #f3f3f3,
    'card-border-color': #999999,
    'card-border-color-light': #cccccc,
    'green-border-color': #04af00,
    'blue-accent-bg-color': #b6cbff,
    'blue-light-hover-color': #e8edfb,
    'card-hover-opacity': 0.85,
    'separator-line-color': #cccccc,
  ),
  'dark-mode': (
    'white': #ffffff,
    'black': #191718,
    'text-color': #ffffff,
    'text-color-inverse': #191718,
    'background-color': #191718,
    'background-color-inverse': #ffffff,
    'link-hover': #cccccc,
    'border-color': #ffffff,
    'k-accent': #191718,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #363234,
    'k-accentlight2': #363234,
    'k-accentlight2-dark': #ffffff,
    'k-accentlight2-dark-head': #ffffff,
    'k-accentlight2-dark-paragraph': #b9b9b9,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-orange': #cf9a10,
    'k-redaccent': #b52c2c,
    'k-redaccent2': #390b0b,
    'k-grey': #cccccc,
    'k-grey-fix': #999999,
    'k-grey-light': #ECECEC,
    'k-pink': #7a2a68,
    'k-yellow': #363234,
    'k-blueaccent': #2e50a2,
    'k-aqua-blue': #106153,
    'k-greenaccent': #056a02,
    'k-greenaccent2': #0a3009,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-blue-hover': #3567e0,
    'k-blueLight': #363234,
    'k-primary': #ff7ac3,
    'k-primaryLight': #363234,
    'k-shade': #999999,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px white,
    'disabled': #191718,
    'card-border-color': #6b6b6b,
    'card-border-color-light': #6b6b6b,
    'green-border-color': #056a02,
    'blue-accent-bg-color': #363234,
    'blue-light-hover-color': #363234,
    'blue-light-cards': #121d39,
    'card-hover-opacity': 0.8,
    'separator-line-color': #6b6b6b,
  ),
);

@mixin ktheme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
