@import '@/styles/abstracts/variables';

:deep(.o-field__label) {
  margin-bottom: 4px;
}

.o-field:not(:last-child) {
  margin-bottom: 2rem;
}

.column {
  max-width: 40rem;
  padding: 4rem;

  @include desktop() {
    @include ktheme() {
      background-color: theme('background-color');
      border: 1px solid theme('border-color');
      box-shadow: theme('primary-shadow');
    }
  }

  @include touch() {
    padding: 4rem 2rem;
    box-shadow: none !important;
  }
}

@include desktop() {
  .columns {
    padding: 5.25rem 0;

    @include ktheme() {
      background-color: theme('k-primaryLight');
    }
  }
}

.form-addons {
  @include ktheme() {
    border: 1px solid theme('card-border-color');
    border-left: none;
    text-align: center;
    line-height: 3rem;
    height: 3rem;
    width: 4rem;
  }
}

.sale :deep(.o-field__label) {
  background: linear-gradient(to right, white, white, white);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px black;
  filter: drop-shadow(2px 2px black);
  font-weight: bold;
  font-size: 18px;
}

.sale.sale-on :deep(.o-field__label) {
  background: linear-gradient(to right, white, #ff7ac3, #ff7ac3);
  background-clip: text;
}
