@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/WorkSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Work Sans';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/WorkSans-VariableFont_wght.ttf');
}
