$themes: (
  'light-mode': (
    'white': #ffffff,
    'black': #000000,
    'text-color': #000000,
    'text-color-inverse': #ffffff,
    'background-color-inverse': #191718,
    'k-accent': #ff7ac3,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #ffe5f3,
    'k-accentlight2': #ffe5f3,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-grey': #999999,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-primary': #ff7ac3,
    'k-shade': #cccccc,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px black,
    'background-color': #ffffff,
  ),
  'dark-mode': (
    'white': #ffffff,
    'black': #191718,
    'text-color': #ffffff,
    'text-color-inverse': #191718,
    'background-color-inverse': #ffffff,
    'k-accent': #191718,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #ff7ac3,
    'k-accentlight2': #363234,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-grey': #cccccc,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-primary': #ff7ac3,
    'k-shade': #999999,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px white,
    'background-color': #191718,
  ),
);

@mixin ktheme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
