$themes: (
  'light-mode': (
    'white': #ffffff,
    'black': #000000,
    'text-color': #000000,
    'border-color': #000000,
    'text-color-inverse': #ffffff,
    'background-color': #ffffff,
    'background-color-inverse': #191718,
    'link-hover': #6b6b6b,
    'k-accent': #ff7ac3,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #ffe5f3,
    'k-accentlight2': #ffe5f3,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-orange': #CF9A10,
    'k-redaccent': #ffb6b6,
    'k-grey': #999999,
    'k-pink': #FFB6EF,
    'k-yellow': #FEFFB6,
    'k-blueaccent': #B6CBFF,
    'k-greenaccent': #C2FFAC,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-blue-hover': #3567e0,
    'k-blueLight': #e8edfb,
    'k-primary': #ff7ac3,
    'k-primaryLight': #fff0f8,
    'k-shade': #cccccc,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px black,
    'disabled': #f3f3f3,
    'card-border-color': #999999,
    'card-hover-opacity': 0.85 
  ),
  'dark-mode': (
    'white': #ffffff,
    'black': #191718,
    'text-color': #ffffff,
    'text-color-inverse': #191718,
    'background-color': #191718,
    'background-color-inverse': #ffffff,
    'link-hover': #cccccc,
    'border-color': #ffffff,
    'k-accent': #191718,
    'k-accentlight': #ffe5f3,
    'k-accentHover': #ff7ac3,
    'k-accentlight2': #363234,
    'k-green': #04af00,
    'k-red': #ff5757,
    'k-orange': #CF9A10,
    'k-redaccent': #b52c2c,
    'k-grey': #cccccc,
    'k-pink': #7A2A68,
    'k-yellow': #363234,
    'k-blueaccent': #2E50A2,
    'k-greenaccent': #056A02,
    'k-hovergrey': #6b6b6b,
    'k-blue': #6188e7,
    'k-blue-hover': #3567e0,
    'k-blueLight': #363234,
    'k-primary': #ff7ac3,
    'k-primaryLight': #363234,
    'k-shade': #999999,
    'placeholder-color': #cccccc,
    'primary-shadow': 4px 4px white,
    'disabled': #191718,
    'card-border-color': #6b6b6b,
    'card-hover-opacity': 0.8,
  ),
);

@mixin ktheme() {
  @each $theme, $map in $themes {
    $theme-map: $map !global;
    .#{$theme} & {
      @content;
    }
  }
  $theme-map: null !global;
}

@function theme($key) {
  @return map-get($theme-map, $key);
}
