@import "@/colors";

.label {
  color: $primary;
  text-transform: uppercase;
  font-size: 16px;
}

.card {
  border-radius: 0 !important;
  box-shadow: none;
  border: 2px solid $primary;

  &-header {
    border-radius: 0;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      background: $primary;
    }

    &-title {
      color: $primary;
    }
  }

  &-footer {
    border-radius: none;
    border-top: none;

    &-item:not(:last-child){
      border-right-color: $primary;
    }
  }
}

.no-padding-desktop {
  @media screen and (min-width:1023px) {
    padding: 0;
  }
}