body {
    .button {
        text-transform: uppercase;
        border-radius: 0;
        font-weight: 500;
        transition: all 0.3s;
        color: $scheme-invert;

        &.is-primary {
            border-color: $primary;
            background-color: $scheme-main;

            &:hover,
            &:focus {
                border-color: $primary;
                background-color: $primary;
            }
        }
    }

    .select select,
    .taginput .taginput-container.is-focusable,
    .textarea,
    .input {
        color: $scheme-invert;
    }

    .select {
        &:not(.is-multiple):not(.is-loading):hover::after {
            border-color: $primary;
        }

        select {
            option {
                color: $scheme-invert;
            }
        }
    }

    .label {
        color: $scheme-invert;
    }

    .select select[disabled],
    .taginput [disabled].taginput-container.is-focusable,
    [disabled].textarea, [disabled].input,
    fieldset[disabled] .select select,
    .select fieldset[disabled] select,
    fieldset[disabled] .taginput .taginput-container.is-focusable,
    .taginput fieldset[disabled] .taginput-container.is-focusable,
    fieldset[disabled] .textarea,
    fieldset[disabled] .input {
        background-color: $scheme-main;
    }

    .notices .toast.is-dark {
        background: $primary;
    }

    .label {
        color: $primary;
        text-transform: uppercase;
        font-size: 16px;
    }

    .text {
        &__stroked {
            color: $primary;
            -webkit-text-fill-color: $black;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: $primary;
            padding: 0 8px 0 0;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
    }

    .is-flex-inline {
        display: inline-flex;
    }

    .loading-overlay .loading-background {
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-background {
        background-color: rgba(0, 0, 0, 0.86);
    }

    a {
        color: lightpink;
    }

    .message.is-primary {
        background-color: #ffebfa !important;
    }
}
