html.dark-mode {
  body,
  div#__nuxt,
  div#__layout,
  main {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-accent;
  }
  main {
    background-color: unset;
  }

  .title,
  .card-header-title,
  .input {
    color: $text !important;
  }

  .link {
    color: #fff !important;

    &:hover {
      color: $shade !important;
    }
  }

  .custom-navbar-item {
    .navbar-item {
      &:hover {
        color: $shade !important;
      }
    }
  }

  .navbar {
    border-color: $white;
    background-color: $background-dark !important;
    .navbar-item {
      color: $white;
      @include mobile {
        &:hover {
          color: $white !important;
        }
      }
      &:hover {
        color: inherit;
        background-color: inherit;
      }
    }

    .dropdown-content .dropdown-item .menu-item {
      color: $white !important;
    }

    .dropdown-content {
      box-shadow: 4px 4px 0px $white !important;
      border-color: $white !important;
    }
    .dropdown .dropdown-menu .has-link a {
      &:hover,
      &:focus {
        background-color: $k-accent !important;
        color: $black;
      }
    }
    .navbar-dropdown a.navbar-item {
      border-bottom: 1px solid $white;
      &:hover,
      &:focus {
        background-color: $k-accent !important;
        color: $k-hovergrey;
      }
    }

    .dropdown .dropdown-menu .has-link.is-active a {
      &:hover,
      &:focus {
        background-color: $white !important;
      }
    }

    .navbar-link {
      &:hover {
        background-color: transparent;
        color: $white !important;
      }
    }

    .dropdown-content {
      .dropdown-item.is-active,
      .is-active > a {
        background-color: $white !important;
        color: $black !important;
      }
    }

    .mobile-nav-search-btn {
      color: $white;
    }

    .navbar-burger {
      color: $white;
      background-color: $background-dark;
    }

    .navbar-menu {
      border-color: $white !important;

      .button:hover {
        background-color: $k-accent !important;
        color: $black !important;
      }
    }

    #NavProfile {
      .button.is-primary {
        color: $black;
        border: 1px solid $white !important;
        &:hover {
          background-color: $dark-accent !important;
          color: $white !important;
        }
      }
      .dropdown .dropdown-menu .has-link {
        border-top: 1px solid $white;
      }
      @include mobile {
        .button-connect-wallet {
          box-shadow: $primary-shadow-dark !important;
          background-color: $k-accent !important;
          color: $black !important;
        }
      }
    }

    .dropdown .dropdown-menu .has-link {
      border-color: $white;
    }

    .navbar-explore .menu-item {
      &:hover {
        color: $shade !important;
      }
      &.is-active {
        color: $white !important;
      }
    }

    .navbar-chain {
      .dropdown-item {
        border-bottom: 1px solid $white;
        &:hover {
          background-color: $k-accent;
          color: $black;
        }
      }
    }

    .navbar-explore {
      a {
        &:hover {
          color: $white !important;
        }
      }
    }
  }

  .instance {
    border-color: $white;
  }

  .landing-search {
    .subtitle {
      color: $search-background-color !important;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff,
        0px -1px 0 #fff, 4px 4px #fff;
    }
  }

  .search-bar-container {
    .link-item {
      &:hover {
        background-color: $k-accentlight2dark;
      }
    }

    .tabs li.is-active a {
      color: $white !important;
      background-color: $k-dark !important;
    }

    .tabs li:not(.is-active) a {
      color: $white;
    }

    .search-history {
      .times-icon {
        &:hover {
          color: $shade;
        }
      }

      .search-history-item {
        &:hover {
          background-color: $k-accentlight2dark;
        }
      }
    }
  }

  .dropdown-content {
    box-shadow: $primary-shadow-dark;
    border-radius: 0;
    border: 1px solid $white;
  }

  .footer-container {
    background-color: $dark-accent;
    color: $white;

    &-socials {
      &-list {
        &-item {
          background: $black;
          border: 1px solid $white;
          box-shadow: $primary-shadow-dark;
          &:hover {
            background: $k-accent !important;

            .has-text-white {
              svg {
                path {
                  color: $black !important;
                }
              }
            }
          }
        }
      }
    }

    &-info {
      &-list {
        &-item {
          a {
            color: $white !important;
            &:hover {
              color: $shade !important;
            }
          }
        }
      }
    }

    &-subs {
      &-btn {
        color: $black !important;
        background-color: $k-accent !important;
        border-radius: 0px;
        border: 1px solid $white;
        border-color: $white !important;
        box-shadow: $primary-shadow-dark !important;
      }
      &-input {
        box-shadow: $primary-shadow-dark;

        .input {
          border: 1px solid $white;
        }
      }
    }
  }


  .image-outline {
    border-color: $white;
  }

  .csw-substack-gradient-custom {
    border-color: $white !important;
    box-shadow: 4px 4px 0px $white;
    input {
      color: $white !important;
      background-color: $k-dark !important;
      &::placeholder {
        color: $placeholder-color !important;
      }
    }
    button {
      color: $dark-accent !important;
      border-left: 1px solid $white !important;
      background: $k-accent !important;
      &:hover {
        background: $k-dark !important;
        color: $white !important;
      }
    }
  }

  .scroll-top-button {
    border-color: $white !important;
    box-shadow: 4px 4px 0px $white;
    &:hover {
      background: $k-accent !important;
      path {
        color: $black;
      }
    }
  }

  .gallery-item-media {
    border: 1px solid #fff;
    box-shadow: 4px 4px 0px #fff;
  }

  .loading-container {
    background: $k-dark;
    box-shadow: $primary-shadow-dark;
    border: 1px solid $white;

    .loading-icon {
      border-bottom: 1px solid $k-grey;
    }

    .funfact-heading {
      color: $white;
    }
  }

  .popover-content-container {
    border: 1px solid $white;
  }

  .ms-dos-shadow {
    box-shadow: $primary-shadow-dark;
  }

  .profile-dropdown-divider {
    background-color: #cccccc;
  }

  .gallery-avatar {
    .avatar {
      box-shadow: $primary-shadow-dark !important;
      border: 1px solid $white !important;
    }
  }

  --card-box-shadow: 4px 4px white;

  .identity-name {
    color: white;

    &:hover {
      color: $shade;
    }
  }

  .input {
    &-price {
      background: $k-dark !important;
      color: $text !important;
    }
  }

}
