html.dark-mode {
	body,
	div#__nuxt,
	div#__layout,
	main {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: $background-dark;
	}

	.title,
	.card-header-title,
	.input {
		color: $text;

	}

	.navbar {
		.search-navbar input,
		.search-navbar-container-mobile input {
			color: $black;
		}
	}

}
