html.dark-mode {
  body,
  div#__nuxt,
  div#__layout,
  main {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $background-dark;
  }

  .title,
  .card-header-title,
  .input {
    color: $text !important;
  }

  .link {
    color: #fff !important;

    &:hover {
      color: $k-accentlight !important;
    }
  }

  .navbar {
    .navbar-dropdown a.navbar-item {
      &:hover,
      &:focus {
        background-color: $primary;
      }
    }
  }

  .instance {
    &-accent,
    &-blue {
      background-color: #1a1718;
    }
  }

  .landing-search {
    .sub-title {
      color: $search-background-color;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff,
        0px -1px 0 #fff, 4px 4px #fff;
    }
  }
}
