html.dark-mode {
  body,
  div#__nuxt,
  div#__layout,
  main {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-accent;
  }
  main {
    background-color: unset;
  }

  .title,
  .card-header-title,
  .input {
    color: $text !important;
  }

  .link {
    color: #fff !important;

    &:hover {
      color: $shade !important;
    }
  }

  .instance {
    border-color: $white;
  }

  .landing-search {
    .subtitle {
      color: $search-background-color !important;
      text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
        -1px -1px 0 #fff, 1px 0px 0 #fff, 0px 1px 0 #fff, -1px 0px 0 #fff,
        0px -1px 0 #fff, 4px 4px #fff;
    }
  }

  .search-bar-container {
    .link-item {
      &:hover {
        background-color: $k-accentlight2dark;
      }
    }

    .tabs li.is-active a {
      color: $white !important;
      background-color: $k-dark !important;
    }

    .tabs li:not(.is-active) a {
      color: $white;
    }

    .search-history {
      .times-icon {
        &:hover {
          color: $shade;
        }
      }

      .search-history-item {
        &:hover {
          background-color: $k-accentlight2dark;
        }
      }
    }
  }

  .dropdown-content {
    box-shadow: $primary-shadow-dark;
    border-radius: 0;
    border: 1px solid $white;
  }

  .modal-card-container {
    border: 1px solid white;
    .wallet .buttons {
      button {
        background: $k-dark !important;
        border: 1px solid $white;
      }
      .button {
        background: $k-dark !important;
        border: 1px solid $white;
        border-radius: unset;

        &:hover {
          background-color: $k-accentlight2dark !important;
          color: $white;
        }
      }
    }
    .modal-card-bg {
      background: $white;
    }
    .modal-card-head {
      background: $k-dark !important;
      .delete {
        background: none;
        &::before {
          background-color: $white;
        }
        &::after {
          background-color: $white;
        }
      }
    }
    .wallet-name {
      background: $white !important;
      .is-white {
        color: $background-dark !important;
      }
    }
    .dropdown-content .dropdown-item {
      &:hover {
        background-color: $k-accentlight2dark !important;
      }
    }
  }

  .image-outline {
    border-color: $white;
  }

  .scroll-top-button {
    border-color: $white !important;
    box-shadow: 4px 4px 0px $white;
    &:hover {
      background: $k-accent !important;
      path {
        color: $black;
      }
    }
  }

  .gallery-item-media {
    border: 1px solid #fff;
    box-shadow: 4px 4px 0px #fff;
  }

  .profile-dropdown-divider {
    background-color: #cccccc;
  }

  .gallery-avatar {
    .avatar {
      box-shadow: $primary-shadow-dark !important;
      border: 1px solid $white !important;
    }
  }

  --card-box-shadow: 4px 4px white;

  .identity-name {
    color: white;

    &:hover {
      color: $shade;
    }
  }

  .input {
    &-price {
      background: $k-dark !important;
      color: $text !important;
    }
  }
  .slide {
    box-shadow: 4px 4px 0 white;

    .slide-content {
      border: 1px solid white !important;
    }
  }
}
