html.dark-mode {
	body,
	div#__nuxt,
	div#__layout,
	main {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: $background-dark;
	}

	.title,
	.card-header-title,
	.input {
		color: $text;
	}

	.navbar {

		.navbar-dropdown a.navbar-item {
			&:hover, &:focus {
				background-color: $primary;
			}
		}

	}

	.landing-search {
		.sub-title {
			color: $search-background-color;
			text-shadow: 4px 4px 0px #fff;
			-webkit-text-stroke: 1px #fff;
		}
	}
}
