html.light-mode {
  background-color: $white;

  a {
    color: $text-light-theme;

    &:hover {
      color: $shade;
    }
  }

  a.link {
    color: #000 !important;

    &:hover {
      color: $k-hovergrey !important;
    }
  }
  a.address-link {
    color: #6188e7;
  }

  body,
  div#__nuxt,
  div#__layout,
  main {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $white;
    color: $text-light-theme;
    z-index: 1;
  }

  main {
    background-color: unset;
  }

  .footer {
    background-color: $white;
  }

  .box,
  .card {
    background-color: $background-light;
    color: $text-light-theme;
  }

  .subtitle {
    color: $text-light-theme;
  }

  .text {
    &__stroked {
      -webkit-text-fill-color: $white;
    }
  }

  .select select option {
    color: $text-light-theme;
  }

  .navbar {
    .navbar-item,
    .navbar-link,
    .button.is-text {
      color: $text-light-theme;
      &:hover {
        color: $primary-light;
      }
    }

    .navbar-item:hover,
    .navbar-link:hover,
    .navbar-item:focus,
    .navbar-link:focus {
      color: inherit;
      background-color: inherit;
    }

    .navbar-item.has-dropdown:focus .navbar-link,
    .navbar-item.has-dropdown:hover .navbar-link,
    .navbar-item.has-dropdown.is-active .navbar-link {
      background-color: transparent !important;
    }

    .navbar-dropdown,
    .navbar-menu.is-active {
      color: $text-light-theme;
      background-color: $white;
      box-shadow: rgba(229, 229, 229, 0.55) !important;
    }
    .navbar-dropdown a.navbar-item,
    .dropdown-item:not(.is-active)  {

      &:last-child {
        border-bottom: none;
      }
      color: $text-light-theme
    }

    &__sign-out-button {
      color: $black;
      background-color: $white !important;

      &:hover {
        background-color: $k-accentlight !important;
      }
    }
  }

  .dropdown-content {
    color: $text-light-theme;
    background-color: $white;
    box-shadow: $primary-shadow;
    border-radius: 0;
    border: 1px solid $black;

    .dropdown-item:not(.is-active) {
      color: $text-light-theme;
    }
  }



  .homepage .tile .box {
    border-color: #f3f3f3;
    background-color: $white;
  }

  .select select {
    color: $text-light-theme;
    background-color: #f3f3f3;
  }

  .select {
    &:not(.is-multiple):not(.is-loading)::after {
      border-color: $black;
    }
  }

  //  .tabs li:not(.is-active) a,
  // .pagination-previous,
  // .pagination-next,
  // .pagination-link,
  body .title,
  .auth-avatar .subtitle,
  .royalty {
    color: $text-light-theme;
  }


  .level .title,
  .homepage .title:not(h2),
  body .card-header-title,
  .card-header-icon {
    color: $text-light-theme !important;
  }

  .button:not(.is-primary),
  .input,
  .textarea,
  .taginput .taginput-container.is-focusable {
    color: $text-light-theme;
    background-color: $white;
  }

  .input::placeholder,
  .textarea::placeholder {
    color: #b2b2b2 !important;
  }

  .list-header,
  .collapse.card {
    background: inherit;
  }

  .select select::placeholder,
  .taginput .taginput-container.is-focusable::placeholder,
  .textarea::placeholder,
  .input::placeholder {
    color: inherit;
  }

  .scroll-top-button,
  .tippy-popper .tippy-tooltip {
    color: $text-light-theme;
    background-color: $white;
  }

  .carousel-card-list .card {
    box-shadow: -8px 4px 8px #f3f3f3;
    border-color: #f3f3f3;
    background-color: $white;

    .card-footer {
      color: $text-light-theme;
    }
  }

  .modal-card {
    background: $white !important;
    color: $text-light-theme;

    &-title {
      color: $text-light-theme !important;
    }

    .button.is-primary.is-inverted.is-outlined {
      background-color: transparent;
      border-color: $primary;
      color: $primary;
    }
  }

  .table {
    color: $text-light-theme;
    background-color: $white;

    &.is-hoverable tbody tr:not(.is-selected):hover {
      background-color: hsl(0deg, 0%, 92%);
    }

    th {
      color: hsl(0deg, 0%, 8%);
    }
  }

  .b-table .table-wrapper.has-sticky-header tr:first-child th,
  tr,
  .snackbar {
    background-color: $white !important;
  }

  .loading-container {
    .funfact-text {
      color: $text-light-theme;
    }
  }

  .wallet .buttons button {
    background-color: rgba(243, 243, 243, 0.9);
  }

  .gallery .has-text-overflow-ellipsis,
  .collections .columns .card .card-content .collection-title,
  .collections .columns .card .card-content .heading--inline,
  .control-label,
  .snackbar {
    color: $text-light-theme;
  }

  .nft-card .card-content,
  .collection-card .card-content {
    background-color: $frosted-glass-background-dark !important;
  }

  .price-block__original {
    .money {
      color: $text-light-theme;
    }
  }

  .share__tooltip {
    .tooltip-content {
      background-color: $white !important;
    }
  }

  .carousel-items {
    .title {
      color: $text-light-theme;
    }
  }

  .snackbar {
    .button {
      background-color: rgba(243, 243, 243, 0.9) !important;
      color: $text-light-theme !important;
    }
  }

  .b-table .table .chevron-cell>a {
    color: $primary !important;
  }

  .main-title {
    color: $text-light-theme;
  }

  .search-footer-link {
    color: $black !important;
    .link-item:hover {
      color: $k-hovergrey;
    }
  }

  .landing-search {
    .active {
      color: $dark;
    }
  }

  .gallery-item-media {
    border: 1px solid #000;
    box-shadow: 4px 4px 0px #000;
  }

  .search-bar-container {
    .gallery-search {
      .control .icon {
        color: $dark;
      }

      .media-content {
        color: $k-grey;
      }

      input {
        border: 1px solid #000;
        background-color: #fff;
      }
    }

    .search-bar-bg {
      background-color: #000;
    }
  }
}
