.carousel-agnostic {
  .keen-slider {
    padding-bottom: 16px;
  }

  .carousel-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0);
    transition-duration: 0.4s;
    transition-property: box-shadow;

    &:hover {
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
    }
  }

  .carousel-media {
    border-bottom: 1px solid black;

    &-collection {
      border-bottom: none;
      padding: 16px 16px 0 16px;
    }
  }

  .carousel-info {
    padding: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-name {
      color: black;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-collection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-arrow {
      color: black;
      font-family: "Fira Code", monospace;
    }
  }

  .carousel-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .navigation-wrapper {
    position: relative;
  }

  .dots {
    display: flex;
    padding: 32px 0;
    justify-content: center;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    margin: 0 12px;
    padding: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.active {
      background: #000;
    }
  }

  .arrow {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;

    &-left {
      left: -30px;

      border-bottom: solid 40px transparent;
      border-top: solid 40px transparent;
      border-right: solid 60px black;

      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid 36px transparent;
        border-top: solid 36px transparent;
        border-right: solid 55px white;
        top: -36px;
        right: -58px;
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid 40px transparent;
        border-top: solid 40px transparent;
        border-right: solid 60px black;
        top: -34px;
        right: -56px;
      }
    }

    &-right {
      left: auto;
      right: -30px;

      border-bottom: solid 40px transparent;
      border-top: solid 40px transparent;
      border-left: solid 60px black;

      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid 36px transparent;
        border-top: solid 36px transparent;
        border-left: solid 55px white;
        top: -36px;
        left: -58px;
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid 40px transparent;
        border-top: solid 40px transparent;
        border-left: solid 60px black;
        top: -34px;
        left: -56px;
      }
    }

    &:hover {
      &.arrow-left::after {
        border-right: solid 55px $k-accentlight;
      }

      &.arrow-right::after {
        border-left: solid 55px $k-accentlight;
      }
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}

.dark-mode {
  .carousel-agnostic {
    .carousel-item {
      background-color: #1a1718;
      border: 1px solid white;

      &:hover {
        box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 1);
      }
    }

    .carousel-info-name,
    .carousel-meta,
    .carousel-info-arrow {
      color: white;
    }

    .dot.active {
      background-color: white;
    }
  }
}
