.carousel-agnostic {
  .keen-slider {
    padding-bottom: 16px;
    overflow: visible !important;
  }

  .carousel-info-collection-name {
    color: $k-grey;
    &:hover {
      color: $black;
    }
  }

  .carousel-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0);
    transition: box-shadow 0.4s, opacity 0.4s;

    &:hover {
      box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 1);
      opacity: 1 !important;
    }
  }

  .carousel-media {
    border-bottom: 1px solid black;

    &-collection {
      border-bottom: none;
      padding: 16px 16px 0 16px;

      a {
        border: 1px solid black;
        display: block;
      }
    }
  }

  .carousel-info {
    padding: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 114px;

    &-name {
      color: black;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        color: $k-hovergrey;
      }
    }

    &-collection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-arrow {
      color: black;
      font-family: 'Fira Code', monospace;
    }
  }

  .carousel-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .navigation-wrapper {
    position: relative;
  }

  .chain-name {
    color: $k-grey;
  }

  .dots {
    display: flex;
    padding: 32px 0;
    justify-content: center;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .dot {
    border: none;
    width: 10px;
    height: 10px;
    background: #c5c5c5;
    margin: 0 12px;
    padding: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &.active {
      background: #000;
    }
  }

  .arrow {
    $side-y: 32px;
    $side-x: 55px;

    width: $side-x;
    height: $side-x;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;

    &-left {
      left: -30px;

      border-bottom: solid $side-y transparent;
      border-top: solid $side-y transparent;
      border-right: solid $side-x black;

      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y - 2 transparent;
        border-top: solid $side-y - 2 transparent;
        border-right: solid $side-x - 2 white;
        top: -($side-y - 2);
        right: -($side-x - 1);
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y transparent;
        border-top: solid $side-y transparent;
        border-right: solid $side-x black;
        top: -($side-y - 6);
        right: -($side-x + 4);
      }
    }

    &-right {
      left: auto;
      right: -30px;

      border-bottom: solid $side-y transparent;
      border-top: solid $side-y transparent;
      border-left: solid $side-x black;

      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y - 2 transparent;
        border-top: solid $side-y - 2 transparent;
        border-left: solid $side-x - 2 white;
        top: -($side-y - 2);
        left: -($side-x - 1);
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y transparent;
        border-top: solid $side-y transparent;
        border-left: solid $side-x black;
        top: -($side-y - 6);
        left: -($side-x - 4);
      }
    }

    &:hover {
      &.arrow-left::after {
        border-right: solid $side-x - 2 $k-accentlight;
      }

      &.arrow-right::after {
        border-left: solid $side-x - 2 $k-accentlight;
      }
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}

.dark-mode {
  .carousel-agnostic {
    .carousel-item {
      background-color: $dark-accent;
      border: 1px solid white;

      &:hover {
        box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 1);
      }
    }

    .carousel-info-collection-name {
      &:hover {
        color: $white;
      }
    }

    .carousel-info {
      &-name {
        &:hover {
          color: $shade !important;
        }
      }
    }

    .carousel-info-name,
    .carousel-meta,
    .carousel-info-arrow {
      color: white;
    }

    .carousel-media-collection a {
      border: 1px solid white;
    }

    .dot.active {
      background-color: white;
    }
  }
}
