.card-header {
	box-shadow: none !important;
}

.card.bordered {
	border-radius: 4px;
	box-shadow: none;
	border-top: $sleek-primary-border;

	&-content {
		padding-left: 1rem;
		padding-top: 1rem;
	}

	&-footer {
		&-item {
			padding: 0.75rem !important;
		}
	}
}
