.carousel-agnostic {
  .keen-slider {
    padding-bottom: 16px;
    overflow: visible !important;
  }


  .carousel-item {
    @include ktheme() {
      border: 1px solid theme('text-color');
      &:hover {
        box-shadow: theme('primary-shadow');
        opacity: 1 !important;
        animation: cardHoverIn 0.3s ease-in;
      }
    }
    transition: box-shadow 0.4s, opacity 0.4s;
    animation: cardHoverOut 0.3s ease-out;
  }

  .carousel-media {
    @include ktheme() {
      border-bottom: 1px solid theme('text-color');
    }
    &-collection {
      border-bottom: none !important;
      padding: 16px 16px 0 16px;

      a {
        @include ktheme() {
          border: 1px solid theme('text-color');
        }

        display: block;
      }
    }
  }

  .carousel-info {
    padding: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-collection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-arrow {
      @include ktheme() {
        color: theme('text-color');
      }
      font-family: 'Fira Code', monospace;
    }
  }

  .carousel-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .navigation-wrapper {
    position: relative;
  }

  .chain-name {
    @include ktheme() {
      color: theme('k-grey');
    }
  }

  .dots {
    display: flex;
    padding: 32px 0;
    justify-content: center;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .dot {
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 12px;
    padding: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include ktheme() {
      background: theme('k-shade');
      &.active {
        background: theme('k-grey');
      }
    }
  }

  .arrow {
    $side-y: 32px;
    $side-x: 55px;

    width: $side-x;
    height: $side-x;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    cursor: pointer;

    &-left {
      left: -30px;

      border-bottom: solid $side-y transparent;
      border-top: solid $side-y transparent;
      @include ktheme() {
        border-right: solid $side-x theme('black');
      }
      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y - 2 transparent;
        border-top: solid $side-y - 2 transparent;
        @include ktheme() {
          border-right: solid $side-x - 2 theme('white');
        }
        top: -($side-y - 2);
        right: -($side-x - 1);
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y transparent;
        border-top: solid $side-y transparent;
        @include ktheme() {
          border-right: solid $side-x theme('black');
        }

        top: -($side-y - 6);
        right: -($side-x + 4);
      }
    }

    &-right {
      left: auto;
      right: -30px;

      border-bottom: solid $side-y transparent;
      border-top: solid $side-y transparent;
      @include ktheme() {
        border-left: solid $side-x theme('black');
      }
      &::after {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y - 2 transparent;
        border-top: solid $side-y - 2 transparent;
        @include ktheme() {
          border-left: solid $side-x - 2 theme('white');
        }
        top: -($side-y - 2);
        left: -($side-x - 1);
        transition-duration: 0.2s;
      }

      &::before {
        content: '';
        width: 0;
        height: 0;

        position: absolute;
        border-bottom: solid $side-y transparent;
        border-top: solid $side-y transparent;
        @include ktheme() {
          border-left: solid $side-x theme('black');
        }
        top: -($side-y - 6);
        left: -($side-x - 4);
      }
    }

    &:hover {
      &.arrow-left::after {
        @include ktheme() {
          border-right: solid $side-x - 2 theme('k-accentlight');
        }
      }

      &.arrow-right::after {
        @include ktheme() {
          border-left: solid $side-x - 2 theme('k-accentlight');
        }
      }
    }

    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}
