
.carousel-agnostic {
  @import './carousel-arrows';
  .keen-slider {
    padding-bottom: 16px;
  }


  .carousel-item {
    @include ktheme() {
      background: theme('background-color');

      border: 1px solid theme('border-color');
      &:hover {
        box-shadow: theme('primary-shadow');
        opacity: 1 !important;
        animation: cardHoverIn 0.3s ease-in;
      }
    }
    transition: box-shadow 0.4s, opacity 0.4s;
    animation: cardHoverOut 0.3s ease-out;
  }

  .carousel-media {
    display: grid;
    align-items: center;
    @include ktheme() {
      border-bottom: 1px solid theme('border-color');
    }
    &-collection {
      border-bottom: none !important;
      padding: 16px 16px 0 16px;

      a {
        @include ktheme() {
          border: 1px solid theme('border-color');
        }

        display: block;
      }
    }
  }

  .carousel-info {
    padding: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &-name {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-collection {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-name {
        @include ktheme() {
          color: theme('k-grey');
          &:hover {
            color: theme('text-color');
          }
        }
      }
    }

    &-arrow {
      @include ktheme() {
        color: theme('text-color');
      }
      font-family: 'Fira Code', monospace;
    }
  }

  .carousel-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
  }

  .navigation-wrapper {
    position: relative;
  }

  .chain-name {
    @include ktheme() {
      color: theme('k-grey');
    }
  }

  .dots {
    display: flex;
    padding: 32px 0;
    justify-content: center;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .dot {
    border: none;
    width: 10px;
    height: 10px;
    margin: 0 12px;
    padding: 5px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include ktheme() {
      background: theme('k-shade');
      &.active {
        background: theme('k-grey');
      }
    }
  }
}
