
.collection-card {
  font-family: 'Work Sans';
  border: 1px solid $black;
  border-radius: 0;
  color: $black;
  animation: cardHoverOut 0.3s ease-out;

  &:hover {
    box-shadow: var(--card-box-shadow);
    animation: cardHoverIn 0.3s ease-in;

  }
  cursor: pointer;
  a:hover {
    color: unset !important;
  }
  &__image-wrapper {
    padding-top: 112px !important;
    &-sub {
      border: 6px solid $white;
      height: 100%;
      width: 100%;

      img {
        border: 1px solid $black;
      }
    }
  }
  .collection-detail {
    background: $white;
    $header-height: 55px;

    &__header {
      height: $header-height;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;

      &-image-wrapper {

        height: 80px;
        min-width: 80px;
        padding: 0 !important;
        border-top: 1px solid $black;
        transform: translate(15px, -50%);
        background: $white;

        &::before, &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 39px;
          background: $black;
          z-index: 1;
        }
        &::after{
          left: unset;
          right: 0;
        }
      }
    }
    &__name {
      padding-left: 32px;
      padding-right: 20px;
      text-overflow: ellipsis;
      font-weight: 700;
      font-size: 1rem;
      overflow: hidden;
      white-space: nowrap;
      line-height: $header-height;
      &:hover {
        color: $k-hovergrey;
      }
    }

    .detail-item {
      font-size: 0.75rem;
      letter-spacing: 0.02em;
      font-weight: 700;
      padding-right: 0;
      height: 67px;
      &__title {
        font-weight: 400;
        min-width: 80px;
      }
    }
  }

}


.dark-mode {

  .collection-card {
    border: 1px solid $white;
    a {
      color: $white;
      &:hover {
        color: $white !important;
      }
    }
    &__image-wrapper-sub {
        border: 6px solid $k-dark;
        background: $k-dark;

        img {
          border: 1px solid $white;
        }
      }

    .collection-detail {
      background: $k-dark;
      &__header {
        border-color: $white;


      &-image-wrapper {
        border-top: 1px solid $white;
        background: $k-dark;

        &::before, &::after {
          background: $white;
        }
      }
      }
      &__name {
        &:hover {
          color: $shade;
        }
      }
    }
  }
}
