
.wallet-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  padding-top: 72px;
  border-left: 1px solid $k-dark;
  @include mobile {
    padding-top: 58px;
  }
  @include ktheme() {
    background: theme('background-color');
  }

  max-width: 360px;
  height: 100%;

  .more-option-button {
    &:hover {
      @include ktheme() {
        color: theme('k-hovergrey') !important;
      }
    }
    @include ktheme() {
      border-top: 1px solid theme('k-shade');
    }
  }

  .modal-card-head {
    background: unset;
    border-bottom: 1px solid #000000;
  }

  .modal-card-body {
    padding: 0;
    background-color: unset;
    display: block;
  }



  footer {
    border-top: 1px solid #000000;
  }

  .confirm-button {
    width: 100%;
  }


  .wallet-menu-item {
    width: 100%;
    .button {
      border: none;
      box-shadow: none !important;
      .icon {
        margin-right: 0 !important;
      }
      &:hover {
        background-color: $k-accentlight2 !important;
      }
    }
    .account-list {
      .account-item {
        border-left: 1px solid $grey-light;
        &:hover {
          background-color: $k-accentlight2;
        }
      }
    }
  }
}


.dark-mode {
  .wallet-modal-container {
    border-color: $white;

    .modal-card-head{
      border-color: $white;
    }

    .more-option-button {
      :hover {
        color: $k-grey;
      }
    }

    footer {
      border-top: 1px solid $white;
    }

  }

}
