.gallery-avatar {
  .avatar {
    border-radius: 50%;
    & > div {
      display: flex;
      align-items: center;
    }

    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color');
    }
  }
}

.gallery-parent-item {
    max-height: 240px;
    max-width: 240px;
    margin: 0 auto;

    &__name {
      padding-top: 0.25rem;
      width: fit-content;
      margin: 0 auto;
    }
}

.gallery-item {
  .media-object {
    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color');
    }
  }

  .icon-action {
    width: 2.188rem;
  }

}

.gallery-item-desc-markdown {
  pre {
    background-color: transparent;
    margin: 1rem 0;
    white-space: pre-wrap;
    @include ktheme() {
      border: 1px solid theme('k-shade');
      color: theme('k-shade');
    }
  }

  a {
    @include ktheme() {
      color: theme('k-blue') !important;
      &:hover {
        color: theme('k-blue-hover')  !important;
      }
    }
  }

  word-break: 'break-word';
}
