.gallery-item-description {

  &.disabled-tab {

    // targets o-tab-item header button
    .o-tabs__nav-item-default--disabled {
      //override o-tab disabled
      pointer-events: all;
      padding: 0;

    }

    // make tooltip take all space inside the header button
    // on b-tooltip there is a @click.native.stop to prevent tab change
    .b-tooltip {
      padding: 8px;
      width: 100%;

    }

  }

  .tooltip-content {
    background-color: white;
    border-color: black;
  }


}

.disabled-tab-tooltip {

  &.b-tooltip.is-primary .tooltip-content {
    background: white;
    color: black;
    box-shadow: none;
    border: 1px solid black;
    font-size: 0.6rem;
    &::before {
      border-top-color: black;
    }
  }
  
}