.gallery-avatar {
  .avatar {
    border-radius: 50%;
    & > div {
      display: flex;
      align-items: center;
    }

    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color');
    }
  }
}

.gallery-item {
  .media-object {
    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color'); 
    }
  }

  .icon-action {
    width: 35px
  }
}

.gallery-item-desc-markdown {
  pre {
    background-color: transparent;
    margin: 1rem 0;
    white-space: pre-wrap;
    @include ktheme() {
      border: 1px solid theme('k-shade');
      color: theme('k-shade');
    }
  }
  word-break: 'break-word';
}
