.modal.is-active {
  z-index: 998;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  .modal-close {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .modal-content {
    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('text-color');
    }
  }
}
