.modal.is-active {
	z-index: 998;
}

.modal-background {
	background-color: rgba(0, 0, 0, 0.86);
}

.modal {
	.modal-close {
		background-color: rgba(255, 255, 255, 0.2);
	}

	.modal-content {
		border: 2px solid $primary-light;
		box-shadow: 13px 14px rgba(90, 15, 60, 0.7);
		width: fit-content;
	}
}
