.o-tabs {

  @include ktheme() {
    background: theme('background-color');
    box-shadow: theme('primary-shadow');
  }
  &__nav {
    overflow-x: initial;

    &-item {
      font-family: 'Work Sans';
      font-size: 1rem;
      &-default {
        border-right: 0;
        padding: 8px;



        @include ktheme() {
          border: 1px solid theme('text-color');
          color: theme('text-color');
          &--active {
            background-color: theme('background-color-inverse');
            color: theme('text-color-inverse');
          }

          &:hover:not(.o-tabs__nav-item-default--active) {
            background-color: theme('k-accentlight2');
          }
        }
      }

      &-wrapper:last-child {
        button {
          @include ktheme() {
            border-right: 1px solid theme('text-color');
          }
        }
      }
    }
  }

  .o-tab-item__content {
    height: 100%;
  }

  &__content {
    @include ktheme() {
      border: 1px solid theme('text-color');
    }

    &--fixed {
      height: 20rem;
      overflow-y: auto;
    }
  }
}

