.o-table {
  &__root {
    overflow-x: auto;
  }
  &__th {
    @include ktheme() {
      color: theme('k-grey');
    }
    font-size: 12px;
    font-weight: normal;
    padding: 0 1.5rem 0.5rem 1.5rem;
  }

  &__td {
    padding: 0.25rem 1.5rem;
    @include touch {
      &::before {
        font-size: 0.75rem;
        line-height: 1.5rem;
        @include ktheme() {
          color: theme('k-grey');
        }
      }

      margin: 0 1.5rem;
      padding: 0.25rem 0;

      &:last-child {
        @include ktheme() {
          border-bottom: 1px solid theme('k-shade') !important;
        }
      }
    }
  }

  @include touch {
    tbody tr {

      padding-top: 1.5rem;
      @include ktheme() {
        background-color: theme('background-color');
      }
    }
  }

  &--hoverable {
    tbody tr:hover td {
      @include ktheme() {
        background-color: theme('k-accentlight2');
      }
    }
  }
}

