.landing-search {
  font-family: 'Work Sans';
  min-height: 334px;
  width: 100%;
  gap: 50px;

  .title {
    word-break: keep-all;
  }

  .subtitle {
    letter-spacing: -0.02em;
    color: $white !important;
    text-shadow: 1px 1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      -1px -1px 0 #000, 1px 0px 0 #000, 0px 1px 0 #000, -1px 0px 0 #000,
      0px -1px 0 #000, 4px 4px #000;
  }

  .landing-search-bar {
    width: 602px;
  }

  %landing-search-image-position {
    height: 334px;
    pointer-events: none;
  }

  .landing-search-left {
    overflow: auto;
  }

  .landing-search-right {
    overflow: auto;
  }

  .chain-option {
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 23px;
    color: $grey;
    width: max-content;

    &.active {
      font-weight: 700;
      color: $white;
    }
  }

  @include touch {
    padding: 0;
    justify-content: space-evenly!important;

    .landing-search-bar {
      width: 70%;
    }
  }

  @include mobile {
    .landing-search-bar {
      width: 90%;
    }
  }

}

.search-bar-container {
  position: relative;

  .search-bar-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 4px;
    left: 4px;
    z-index: 0;
  }

  .search-bar-keyboard-icon {
    z-index: 2;
    position: absolute;
    right: 18px;
    top: 9px;
    pointer-events: none;
  }

  input {
    font-family: 'Work Sans';
  }

  .dropdown-menu {
    padding-top: 13px;

    .dropdown-item {
      padding: 0px;
    }
  }
}

.gallery-search {
  z-index: 1;

  .control .icon {
    color: $white;
  }

  input {
    border: 1px solid $white;
    border-radius: 0;
    padding: 0 50px 0 42px !important;
    background-color: $search-background-color;
    &:focus::placeholder {
      color: transparent!important;
    }

    &::placeholder {
      color: $placeholder-color !important;
      margin-left: 10px;
      font-weight: 400;
    }

    &:hover,
    &:focus {
      border: 1px solid $white;
      box-shadow: none;
    }
  }
}

.search-suggestion-container {
  .selected-item {
    box-sizing: border-box;
    border: 1px solid $primary !important;
  }

  .search-footer-link {
    color: $white !important;
    .link-item {
      &:hover {
        font-weight: 700;
        background: transparent !important;
      }
    }
  }

  .link-item {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px 32px;
    font-size: 16px;
    &:hover {
      background-color: $k-accentlight;
    }
  }

  .loading-item {
    padding: 10px 32px;
  }

  .main-title {
    font-weight: 700;
  }

  .name {
    max-width: 34ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .secondary-info {
    @include mobile {
      flex-direction: column !important;
    }
  }

  .small-soon-text {
    font-size: 12px;
    margin-bottom: 6px;
    margin-left: 4px;
  }

  .tab-content {
    padding-top: 0 !important;
  }

  .tabs li a {
    border-bottom-color: $shade;
    display: flex;
    padding: 10px 0;
    justify-content: flex-start;
  }

  .tabs li.is-active a {
    color: $black !important;
    border-bottom-color: $shade;
    font-weight: 700;
    background-color: $white !important;
  }

  .b-tabs:not(:last-child) {
    margin-bottom: 0;
  }
  .tabs:not(:last-child) {
    margin-bottom: 0.5rem;
    padding: 0px 32px;
  }

  .image-outline {
    border: 1px solid $black;
    border-radius: 50%;
  }

  .search-history {
    margin-top: 20px;
    color: $k-grey;
    cursor: pointer;

    .history-label {
      font-size: 16px;
    }

    .times-icon {
      &:hover {
        color: $black;
      }
    }

    .search-history-item {
      padding: 0 32px;
      &:hover {
        background-color: $k-accentlight;
      }
    }
  }
}

.search-navbar-container-mobile {
  .gallery-search:focus-within {
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 989;
    border-radius: 0;
    overflow: auto;

    .dropdown-menu {
      position: fixed;
      top: 46px;
      left: 0;
      width: 98%;
    }

    > .control {
      margin-right: auto !important;

      > .input {
        height: 50px;
      }

      > .icon {
        top: 10%;
      }
    }
  }
}

.section-search {
  padding: 3rem 0rem!important;
}