.landing-search {
  min-height: 334px;
  width: 100%;
  gap: 50px;
  justify-content: space-between;

  .search-info {
    z-index: 1;
  }

  .title {
    word-break: keep-all;
  }

  .subtitle {
    letter-spacing: -0.02em;
    @include ktheme() {
      color: theme('text-color-inverse');
      text-shadow: 1px 1px 0 theme('text-color'), 1px -1px 0 theme('text-color'),
        -1px 1px 0 theme('text-color'), -1px -1px 0 theme('text-color'),
        1px 0px 0 theme('text-color'), 0px 1px 0 theme('text-color'),
        -1px 0px 0 theme('text-color'), 0px -1px 0 theme('text-color'),
        4px 4px theme('text-color');
    }
  }

  .landing-search-bar {
    width: 602px;
  }

  %landing-search-image-position {
    height: 334px;
    pointer-events: none;
  }

  .landing-search-left {
    position: absolute;
    left: 0rem;
    top: -6rem;
    pointer-events: none;
  }

  .landing-shapes {
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
  }

  .landing-search-right {
    position: absolute;
    right: 0rem;
    top: -6rem;
    pointer-events: none;
  }

  .chain-option {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    width: max-content;
    font-weight: 700;
    &:hover {
      @include ktheme() {
        color: theme('link-hover');
      }
    }
  }

  .beta-text {
    @include ktheme() {
      color: theme('k-shade');
    }
    font-weight: 400;
  }

  @include touch {
    padding: 0;

    .landing-search-bar {
      width: 70%;
    }
  }

  @include mobile {
    .landing-search-bar {
      width: 90%;
    }
  }
}

.search-bar-container {
  position: relative;

  .search-bar-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 4px;
    z-index: 0;
    @include ktheme() {
      background: theme('background-color');
    }
  }

  .search-bar-keyboard-icon {
    z-index: 2;
    position: absolute;
    right: 18px;
    top: 9px;
    height: 23px;
    pointer-events: none;
  }

  .dropdown-menu {
    padding-top: 13px;

    .dropdown-content {
      max-height: 600px;
    }

    .dropdown-item {
      padding: 0px;
    }
  }
}

.gallery-search {
  z-index: 1;

  .control .icon {
    @include ktheme() {
      color: theme('text-color') !important;
    }
  }

  input {
    border-radius: 0;
    padding: 0 50px 0 42px !important;

    &::placeholder {
      margin-left: 10px;
      font-weight: 400;
    }

    &:hover,
    &:focus {
      box-shadow: none;
    }

    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color');
      color: theme('text-color');
      background: theme('background-color');

      &::placeholder {
        color: theme('placeholder-color') !important;
      }

      &:hover,
      &:focus {
        border: 1px solid theme('border-color');
      }
    }
  }
}

.search-suggestion-container {
  $desktop-padding-x: 32px;
  .selected-item {
    box-sizing: border-box;
  }

  .search-footer-link {
    .link-item {
      &:hover {
        background: transparent !important;
      }
    }
  }

  .link-item {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 10px $desktop-padding-x;
    font-size: 16px;
    &:hover {
      @include ktheme() {
        background-color: theme('k-accentlight2');
      }
    }
  }

  .loading-item {
    padding: 10px $desktop-padding-x;
  }

  .main-title {
    font-weight: 700;
  }

  .name {
    max-width: 34ch;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .secondary-info {
    @include mobile {
      flex-direction: column !important;
    }

    @include ktheme() {
      color: theme('k-grey');
    }
  }

  .small-soon-text {
    font-size: 12px;
    margin-bottom: 6px;
    margin-left: 4px;
  }

  .tab-content {
    padding-top: 0 !important;
  }

  .tabs li a {
    display: flex;
    padding: 10px 0;
    justify-content: flex-start;
    @include ktheme() {
      border-bottom-color: theme('placeholder-color');
    }
  }

  .tabs li.is-active a {
    font-weight: 700;
    @include ktheme() {
      border-bottom-color: theme('placeholder-color');
      background: theme('background-color');
      color: theme('text-color') !important;
      &:hover {
        background: theme('background-color') !important;
      }
    }
  }

  .b-tabs:not(:last-child) {
    margin-bottom: 0;
  }
  .tabs:not(:last-child) {
    margin-bottom: 0.5rem;
    padding: 0px $desktop-padding-x;
  }

  .image-outline {
    @include ktheme() {
      border: 1px solid theme('border-color');
    }
  }

  .search-history {
    margin-top: 20px;
    cursor: pointer;

    @include ktheme() {
      color: theme('k-grey');
    }

    .history-label {
      font-size: 16px;
      text-transform: none;
    }

    .remove-search-history {
      padding: 5px;

      &:hover {
        @include ktheme() {
          color: theme('k-hovergrey');
        }
      }
    }

    .search-history-item {
      padding: 0 $desktop-padding-x;
      &:hover {
        @include ktheme() {
          background-color: theme('k-accentlight2');
        }
      }
    }
  }
}

.section-search {
  padding: 3rem 0rem !important;
}

@media screen and (max-width: 1123px) {
  .landing-search {
    justify-content: space-evenly;
  }
  .landing-shapes {
    display: none;
  }
}
