.top-collections-grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-columns: minmax(0, 1fr);

  @media (min-width: 978px) {
    grid-auto-flow: column;
  }

  @media (min-width: 1540px) {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .top-collections-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    animation: cardHoverOut 0.3s ease-out;

    &:hover {
      box-shadow: var(--card-box-shadow);
      animation: cardHoverIn 0.3s ease-in;
    }
  }
}

.top-collection-controls {
  gap: 1px;
}

.dark-mode {
  .top-collections-item {
    background-color: $dark-accent;
    color: $white;
    border: 1px solid $white;
  }



}

.has-fixed-width {
  min-width: 98px;
}

.no-wrap {
  white-space: nowrap;
}

@include tablet {
  .w-160 {
    width :160px
  }
}


@include mobile {
  .mobile {
    flex-direction: column;
  }
  .has-fixed-width {
    width: 100%;
    min-width: 70px;


  }
}
