.top-collections-grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  grid-auto-columns: minmax(0, 1fr);

  @media (min-width: 978px) {
    grid-auto-flow: column;
  }

  @media (min-width: 1540px) {
    grid-template-rows: repeat(4, minmax(0, 1fr));
    gap: 0.5rem;
  }

  .top-collections-item {
    animation: cardHoverOut 0.3s ease-out;
    @include ktheme() {
      background: theme('background-color');
      color: theme('text-color');
      border: 1px solid theme('border-color');
    }

    &:hover {
      box-shadow: var(--card-box-shadow);
      animation: cardHoverIn 0.3s ease-in;
    }
  }
}

.top-collection-controls.buttons .control {
  border: 1px solid black;
}

.top-collection-controls.buttons .control:not(:last-of-type) {
  border-right: 0;
}


.has-fixed-width {
  min-width: 98px;
}

.no-wrap {
  white-space: nowrap;
}

@include tablet {
  .w-160 {
    width: 160px;
  }
}

@include mobile {
  .mobile {
    flex-direction: column;
  }
  .has-fixed-width {
    width: 100%;
    min-width: 70px;
  }
}
