.top-collections-grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;

  @media (min-width: 849px) {
    grid-auto-flow: column;
  }

  @media (min-width: 1410px) {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .top-collections-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0);
    transition-duration: 0.4s;
    transition-property: box-shadow;

    &:hover {
      box-shadow: 4px 4px 0 0 black;
    }
  }
}

.dark-mode {
  .top-collections-item {
    background-color: $dark-accent;
    color: $white;
    border: 1px solid $white;

    &:hover {
      box-shadow: 4px 4px 0 0 $white;
    }
  }



}

.has-fixed-width {
  min-width: 98px;
}

@include touch {
  .mobile {
    flex-direction: column;
    
  }
}