.button {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s;
  color: rgb(var(--text-color));
  background-color: var(--background-color);
}

.button.is-text {
  &:hover {
    border: none;
    background-color: var(--link-hover);
  }

  &:focus {
    background-color: var(--link-hover);
    border: none;
  }
}

button.button.is-bordered {
  border-top: 2px solid var(--k-primary) !important;
}

button.button.is-bordered-light {
  border-color: transparent;
  border-top: 1px solid var(--k-primary) !important;
}

button.button.navbar-link-background {
  border-top: 2px solid var(--k-accent-light-2) !important;
}

.share-button {
  width: 40px;
}

.only-border-top {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
