.carousel-agnostic {
  @import './carousel-arrows';
  .keen-slider {
    padding-bottom: 16px;
  }

  .carousel-item {
    a:hover {
      color: unset !important;
    }
    background: var(--background-color);
    border: 1px solid var(--card-border-color);
    &:hover {
      border-color: var(--border-color);
      .carousel-media {
        opacity: var(--card-hover-opacity);
      }
    }
  }

  .carousel-media {
    display: grid;
    align-items: center;
    border-bottom: 1px solid var(--card-border-color);
    
    &-collection {
      border-bottom: none !important;
      padding: 16px 16px 0 16px;

      a {
        border: 1px solid var(--card-border-color);
        display: block;
      }
    }

    &-wrapper {
      box-shadow: none !important;
      border: none !important;
    }
  }

  .carousel-info-arrow {
    font-family: 'Fira Code', monospace;
  }

  .dots {
    display: flex;
    padding: 32px 0;
    justify-content: center;

    @media screen and (max-width: 640px) {
      display: none;
    }
  }

  .dot {
    @apply w-2.5 h-2.5 cursor-pointer mx-3 my-0 p-[5px] border-[none];

    &:focus {
      outline: none;
    }

    background: rgb(var(--k-shade));
    &.active {
      background: var(--k-grey);
    }
  }
}
