.arrow {
  $side-y: 32px;
  $side-x: 55px;

  width: $side-x;
  height: $side-x;
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  top: 50%;
  -webkit-transform: translateY(-50%);

  &-left {
    left: -30px;
    border-right: solid $side-x var(--black);

    &::after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -($side-y - 2);
      right: -($side-x - 1);
      transition-duration: 0.2s;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -($side-y - 6);
      right: -($side-x + 4);
    }
  }

  &-right {
    left: auto;
    right: -30px;

    &::after {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -($side-y - 2);
      left: -($side-x - 1);
      transition-duration: 0.2s;
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -($side-y - 6);
      left: -($side-x - 4);
    }
  }

  @media screen and (max-width: 640px) {
    display: none;
  }

  &.arrow-icon {
    box-shadow: var(--primary-shadow);
    border: 1px solid var(--border-color);
    color: rgb(var(--text-color));
    background: var(--background-color);
    
    &:hover {
      background: var(--k-accent-hover);
      .icon {
        color: var(--black) !important;
      }
    }
  }
}

// We have to duplicate this block to use variables properly unless upgrade to sass 3.x version
// red: https://stackoverflow.com/questions/12365703/scss-variable-scope

.arrow-small-size {
  $side-y-small: 20px;
  $side-x-small: 32px;
  &.arrow {
    width: $side-x-small;
    height: $side-x-small;
  
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    top: 50%;
    -webkit-transform: translateY(-50%);
  
    &-left {
      left: -30px;
  
      border-bottom: solid $side-y-small transparent;
      border-top: solid $side-y-small transparent;
      border-right: solid $side-x-small var(--black);

      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: solid $side-y-small - 2 transparent;
        border-top: solid $side-y-small - 2 transparent;
        border-right: solid $side-x-small - 2 var(--white);
        top: -($side-y-small - 2);
        right: -($side-x-small - 1);
        transition-duration: 0.2s;
      }
  
      &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: solid $side-y-small transparent;
        border-top: solid $side-y-small transparent;
        border-right: solid $side-x-small var(--black);
        top: -($side-y-small - 6);
        right: -($side-x-small + 4);
      }
    }
  
    &-right {
      left: auto;
      right: -30px;
  
      border-bottom: solid $side-y-small transparent;
      border-top: solid $side-y-small transparent;
      border-left: solid $side-x-small var(--black);

      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: solid $side-y-small - 2 transparent;
        border-top: solid $side-y-small - 2 transparent;
        border-left: solid $side-x-small - 2 var(--white);
        top: -($side-y-small - 2);
        left: -($side-x-small - 1);
        transition-duration: 0.2s;
      }
  
      &::before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        border-bottom: solid $side-y-small transparent;
        border-top: solid $side-y-small transparent;
        border-left: solid $side-x-small var(--black);
        top: -($side-y-small - 6);
        left: -($side-x-small - 4);
      }
    }
  
    &:hover {
      &.arrow-left::after {
        border-right: solid $side-x-small - 2 var(--k-accent-light);
      }
  
      &.arrow-right::after {
        border-left: solid $side-x-small - 2 var(--k-accent-light);
      }
    }
  
    @media screen and (max-width: 640px) {
      display: none;
    }
  }
}


