@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.connect-wallet-modal {
  .modal-content {
    border: none !important;
  }
  .modal-background {
    background-color: rgba(0, 0, 0, 0.17) !important;
  }

  .wallet-modal-container {
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100% - var(--navbar-desktop));
    margin-top: var(--navbar-desktop);
    max-width: 360px;
    width: 100%;

    @media screen and (max-width: 768px) {
      inset: 0;
      border-left: none;
      max-width: 100%;
      height: calc(100% - var(--navbar-mobile));
      margin-top: var(--navbar-mobile);
    }
    
    background: var(--background-color);
    border-left: 1px solid var(--border-color);

    .modal-card-body {
      padding: 0;
      display: block;
      background-color: var(--background-color);

      hr {
        background-color: rgb(var(--k-shade2)) !important;
      }  
    }

    footer {
      border-top: 1px solid var(--border-color);
    }

    .confirm-button {
      width: 100%;
      height: 2.2rem;
      font-size: 1rem;
    }

    .wallet-menu-item {
      width: 100%;
      .button {
        width: 100%;
        font-size: 1.25rem;
        border-radius: 0;
        border: none;
        transition: none;
        background: unset;
        box-shadow: none !important;
        > span {
          flex: 1;
        }
        .icon {
          margin-right: 0 !important;
        }
        
        color: rgb(var(--text-color));
        &:hover {
          background-color: var(--k-accent-light-2) !important;
        }
      }

      .auth-tip {
        margin: 0 2rem;
        color: rgb(var(--text-color));
        border-left: 1px solid rgb(var(--k-shade));
        i {
          animation: rotate 1s linear infinite;
        }
      }

      .account-list {
        .account-item {
          padding: 10px 0;
          margin: 0 2rem;
          a {
            color: rgb(var(--text-color));
            border-left: 1px solid rgb(var(--k-shade));

            &:hover {
              color: rgb(var(--text-color));
            }

            .account-name {
              line-height: 14px;
            }
            .account-address {
              line-height: 19px;
            }
          }
          &:hover {
            background-color: var(--k-accent-light-2) !important;
          }
        }
      }
    }

    section {
      height: 100%;
      overflow-y: auto;
    }

    .identity-address a {
      font-weight: normal !important;
      color: var(--k-blue) !important;
    }
  }

  .wallet-asset {
    height: 100%;

    &-container {
      padding: 0 2rem;
    }

    .identity-address a {
      font-weight: normal !important;
      color: var(--k-blue) !important;
    }
  }
}

.modal-card-title {
  color: rgb(var(--text-color));
}
