.gallery-avatar {
  .avatar {
    @apply rounded-[50%];
    & > div {
      display: flex;
      align-items: center;
    }

    box-shadow: var(--primary-shadow);
    border: 1px solid var(--border-color);
  }
}

.gallery-parent-item {
  max-height: 240px;
  max-width: 240px;
  margin: 0 auto;

  &__name {
    padding-top: 0.25rem;
    width: fit-content;
    margin: 0 auto;
  }
}

.gallery-item {
  .media-object {
    box-shadow: var(--primary-shadow);
    border: 1px solid var(--border-color);
  }
}

.gallery-item-desc-markdown {
  pre {
    background-color: transparent;
    margin: 1rem 0;
    white-space: pre-wrap;
    border: 1px solid rgb(var(--k-shade));
    color: rgb(var(--k-shade));
  }

  a {
    color: var(--k-blue) !important;
    &:hover {
      color: var(--k-blue-hover) !important;
    }
  }

  word-break: 'break-word';
}

.buy-tooltip {
  width: max-content!important;
  &.o-tip__content--top {
    // o-tip__content--top is for the mobile
    // calc base on the cart-icon and button padding
    transform: translateX(calc(-50% + 16px + 0.75rem));
    .o-tip__arrow{
      transform: translateX(calc(-50% - 16px - 0.75rem));
    }
  }
  a {
    @apply cursor-pointer;
    color: var(--k-blue) !important;
    &:hover {
      color: var(--k-blue-hover) !important;
    }
  }
}

.gallery-item-disabled {
  box-shadow: 4px 4px var(--k-grey);
  width: 10rem;

  .o-tip,
  .is-neo {
    height: 3.375rem;
    width: 100%;
  }
}
