.modal.is-active {
  z-index: 998;
}

.modal-background {
  position: fixed !important;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  .modal-close {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .modal-content {
    box-shadow: var(--primary-shadow);
    border: 1px solid var(--border-color);
  }
}
