.nft-card {
  position: relative;
  height: 100%;
  background-color: var(--background-color);
  border: 1px solid var(--card-border-color);

  .border-stacked {
    border-color: var(--card-border-color-light) !important;
  }

  &:not(.loading):hover {
    border: 1px solid var(--border-color);

    .nft-media::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(var(--background-color), 0.2);
    }
  }

  .show-on-hover {
    display: none !important;
  }

  a:hover {
    color: unset !important;

    .show-on-hover,
    .show-always {
      display: flex !important;
      z-index: 10;
    }
  }

  .action-container {
    position: absolute;
    bottom: 1rem;
  }
  &__stacked {
    .action-container {
      right: 10px;
    }
  }

  .stacked-shadow {
    box-shadow: 5px 5px var(--card-border-color-light);
    bottom: 10px;
    right: 10px;
  }

  .theme-background {
    background: var(--background-color);
  }
}

.card-icon {
  position: absolute;
  z-index: 1;
  right: 1rem;
  top: 1rem;
}

.nft-media {
  box-shadow: none;
}

.nft-media-info {
  border-top: 1px solid var(--card-border-color);
  padding: 13px;
  min-height: 102px;

  &__slim {
    min-height: 83px;
  }

  &__minimal {
    padding: 9px;
    min-height: 76px;
  }
  &-footer {
    overflow: visible;
    line-height: 1.5rem;
  }
}
