.scroll-top-button {
  @apply fixed w-[35px] h-[35px] z-[998] rounded-none right-[42px] bottom-[100px] #{!important};

  @include ktheme() {
    box-shadow: theme('primary-shadow');
    border: 1px solid theme('border-color');
    color: theme('text-color');
    background: theme('background-color');
    &:hover {
      background: theme('k-accentHover');
      .icon {
        color: theme('black') !important;
      }
    }
  }
}
