.notices {
  @apply flex overflow-hidden pointer-events-none fixed z-[1000] p-[2em] inset-0;

  &.is-bottom {
    flex-direction: column-reverse;
  }

  .snackbar {
    @apply items-center inline-flex justify-around min-h-[3em] pointer-events-auto mx-0 my-[0.5em];
    animation-duration: 0.15s;
  }

  .bar {
    height: 13px;

    @include ktheme() {
      border: 1px solid theme('k-shade');
    }
  }
}
