.notices {
  &.is-bottom {
    flex-direction: column-reverse;
  }

  .snackbar {
    align-items: center;
    animation-duration: 0.15s;
    display: inline-flex;
    justify-content: space-around;
    margin: 0.5em 0;
    min-height: 3em;
    pointer-events: auto;
  }

  .bar {
    height: 13px;

    @include ktheme() {
      border: 1px solid theme('k-shade');
    }
  }
}
