.notices {
  &.is-bottom {
    flex-direction: column-reverse;
  }

  .snackbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    min-height: 3em;
    pointer-events: auto;
    margin: 0.5em 0;
    animation-duration: 0.15s;
  }

  .bar {
    height: 13px;
    border: 1px solid var(--k-shade);
  }
}
