.top-collection-controls.buttons .control:not(:last-of-type) {
  border-right: 0;
}

.has-fixed-width {
  min-width: 98px;
}

@include tablet {
  .w-160 {
    width: 160px;
  }
}

@include mobile {
  .mobile {
    flex-direction: column;
  }
  .has-fixed-width {
    width: 100%;
    min-width: 70px;
  }
}
