@use 'sass:meta';

html {
  height: 100%;
  background-color: $white;
  // code mardkown style
  @include meta.load-css('prism-themes/themes/prism-one-light.css');
  &.dark {
    background-color: $scheme-main;
    // code mardkown style
    @include meta.load-css('prism-themes/themes/prism-one-dark.css');
  }
}

body,
div#__nuxt,
div#__layout,
main {
  // without this, footer image is above main contents
  // block hover, click events
  z-index: 100;
}

main {
  background-color: unset !important;
}

body {
  color: var(--text-color);

  a {
    color: var(--text-color);
    &:hover {
      color: var(--link-hover);
    }
  }

  strong,
  .title,
  .subtitle,
  .card-header-title {
    color: rgb(var(--text-color));
  }

  .input,
  select {
    background-color: var(--background-color) !important;
    color: rgb(var(--text-color)) !important;
    &::placeholder {
      color: var(--placeholder-color) !important;
    }
  }

  .field {
    .input {
      border-radius: 0;
      border: 1px solid var(--k-grey-fix);
      background-color: var(--background-color);
      color: rgb(var(--text-color));

      &:focus {
        border: 1px solid rgb(var(--text-color));
      }
    }
  }

  .select {
    &:not(.is-multiple):not(.is-loading)::after {
      border-color: rgb(var(--text-color));
    }
  }

  .select select[disabled] {
    background-color: var(--disabled) !important;
    color: var(--placeholder-color) !important;
  }

  .label {
    color: $primary;
    text-transform: uppercase;
  }

  .orientation {
    perspective: 30em;
  }

  .money-cursor,
  .money-cursor .button {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' class='text-2xl' style='fill:black;'><text y='50%'>💸</text></svg>"),
      auto;
  }

  .message.is-primary .message-body {
    color: $primary;
  }
}

/* move to global */
.is-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapseHidden {
  .collapse-trigger {
    display: none;
  }
}

.image-outline {
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.box {
  .box-container {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }
}

.chain-logo {
  aspect-ratio: 127 / 42;
}

.instance {
  &:last-child {
    border-bottom: none !important;
  }
  border-bottom: 1px solid var(--border-color);
}

hr {
  height: 1px;
  background: rgb(var(--k-shade));
}

.snackbar {
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--primary-shadow);

  .button {
    background-color: var(--k-accent-light-2);
    color: var(--text-color);
  }
}

// global table css
table th {
  color: var(--text-color) !important;
}

.fluid-padding-left {
  padding-left: $fluid-container-padding;
}

//shadow

.k-shadow {
  box-shadow: var(--primary-shadow);
}

.modal {
  .modal-content {
    border: none !important;
    box-shadow: none !important;
  }
  .modal-background {
    background-color: rgba(0, 0, 0, 0.17) !important;
  }
}

// Transak
.transak_modal-overlay {
  z-index: 999 !important;
}

.transak_modal {
  z-index: 1000;
  max-height: 600px !important;
}

#transakOnOffRampWidget {
  height: 100% !important;
}

.has-accent-blur {
  position: relative;
  .blur {
    position: absolute !important;
    top: 0;
    left: 0;
  }
}

.inverse-text {
  letter-spacing: -0.02em;
  color: var(--text-color-inverse);
  text-shadow:
    1px 1px 0 rgb(var(--text-color)),
    1px -1px 0 rgb(var(--text-color)),
    -1px 1px 0 rgb(var(--text-color)),
    -1px -1px 0 rgb(var(--text-color)),
    1px 0px 0 rgb(var(--text-color)),
    0px 1px 0 rgb(var(--text-color)),
    -1px 0px 0 rgb(var(--text-color)),
    0px -1px 0 rgb(var(--text-color)),
    4px 4px rgb(var(--text-color));
}
