.min-h-full {
    min-height: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.text-bold {
    font-weight: bold;
}

.text-semibold {
    font-weight: 600;
}

.text-primary {
    color: $primary;
}

