:deep(.o-field__label) {
  margin-bottom: 4px;
}

.o-field:not(:last-child) {
  margin-bottom: 2rem;
}

.form-addons {
  @apply text-center leading-[3rem] h-12 w-16 border-l-[none];
  border: 1px solid var(--card-border-color);
}
