:deep(.o-field__label) {
  margin-bottom: 4px;
}

.o-field:not(:last-child) {
  margin-bottom: 2rem;
}

.form-addons {
  text-align: center;
  line-height: 3rem;
  height: 3rem;
  width: 4rem;
  border-left: none;
  border: 1px solid var(--card-border-color);
}
