.footer-container {
  position: relative;
  border-top: 1px solid;
  background: var(--background-color);

  .subtitle {
    word-break: normal;
    font-weight: 700;
  }

  .container {
    z-index: 1;
    gap: 30px;
    @include mobile {
      flex-direction: column;
      gap: 50px;
      align-items: center !important;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @include widescreen() {
      display: contents;
    }
  }

  &-inner {
    z-index: 1;
    position: relative;
    gap: 3rem;

    @include mobile {
      flex-direction: column;
      gap: 2rem;
      align-items: center !important;
    }
  }

  &-subs {
    @include mobile {
      align-items: center !important;
    }
  }

  &-info {
    @include mobile {
      align-items: center !important;
      .footer-container-list {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 10px;

      &-item {
        white-space: nowrap;
        a:hover {
          color: var(--link-hover);
        }
        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  &-socials {
    @include mobile {
      align-items: center !important;
    }
    &-list {
      cursor: pointer;
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;

      &-item {
        height: 33px;
        width: 33px;
        background: var(--background-color);
        border: 1px solid var(--border-color);
        box-shadow: var(--primary-shadow);
        
        &:hover {
          background: var(--k-accent-hover);
          .icon, .o-icon {
            color: rgb(var(--text-color)) !important;
          }
        }
      }
    }
  }

  #custom-substack-embed .custom-substack-widget {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2.2rem;
    border-radius: 0;

    @include until-widescreen {
      flex-direction: column;
      height: 4.4rem;
    }
    
    box-shadow: var(--primary-shadow);
    border: 1px solid var(--border-color) !important;

    input {
      font-weight: normal;
      font-size: 1rem;
      line-height: 1;
      padding-left: 1.5rem;
      padding-top: 0;
      padding-bottom: 0;
      border-radius: 0;

      @include until-widescreen {
        flex-basis: 100%;
      }

      background: var(--background-color) !important;
      color: rgb(var(--text-color)) !important;
      &::placeholder {
        color: var(--placeholder-color) !important;
      }
    }
    
    button {
      font-size: 16px;
      font-weight: 400;
      padding: 0 28px;
      border-left: 1px solid;

      border-color: var(--border-color);
      &:hover {
        background: var(--background-color) !important;
        color: rgb(var(--text-color)) !important;
      }

      @include until-widescreen {
        width: 100%;
        border-left: none;
        border-top: 1px solid;
        padding: 0;
        justify-content: center;
        flex-basis: 100%;
      }
    }
  }

  .left-blurred-image {
    position: absolute;
    left: -20rem;
    top: -30rem;
  }

  .subtitle {
    color: rgb(var(--text-color));
  }
}

.icons {
  &__list-item {
    padding: 0 2px;
  }
}
