.re-top-collections-grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;

  @media (min-width: 849px) {
    grid-auto-flow: column;
  }

  @media (min-width: 1410px) {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }

  .re-top-collections-item {
    background-color: white;
    color: black;
    border: 1px solid black;
    box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0);
    transition-duration: 0.4s;
    transition-property: box-shadow;

    &:hover {
      box-shadow: 4px 4px 0 0 rgb(0, 0, 0);
    }
  }
}

.top-collections-grid {
  display: grid;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  column-gap: 4rem;
  row-gap: 2rem;

  @media (min-width: 640px) {
    grid-auto-flow: column;
  }

  @media (min-width: 1280px) {
    grid-template-rows: repeat(4, minmax(0, 1fr));
  }
}

.dark-mode {
  .re-top-collections-item {
    background-color: #1a1718;
    color: white;
    border: 1px solid white;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0);

    &:hover {
      box-shadow: 4px 4px 0 0 #fff;
    }
  }
}
