.footer-container {
  position: relative;
  border-top: 1px solid;
  @include ktheme() {
    background: theme('background-color');
  }

  .subtitle {
    font-weight: 700;
  }

  .container {
    z-index: 1;
    @include mobile {
      flex-direction: column;
      gap: 50px;
      align-items: center !important;
    }
    gap: 30px;
  }

  &-subs {
    @include mobile {
      align-items: center !important;
    }
  }

  &-info {
    @include mobile {
      align-items: center !important;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 10px;

      &-item {
        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  &-socials {
    &-list {
      cursor: pointer;
      &-item {
        height: 33px;
        width: 33px;
        background: $white;
        border: 1px solid $black;
        box-shadow: $primary-shadow;

        @include ktheme() {
          background: theme('background-color');
          border: 1px solid theme('text-color');
          box-shadow: theme('primary-shadow');
          &:hover {
            background: theme('k-accentHover');
          }
        }
        .icon {
          svg {
            height: 16px;
          }
        }
      }
    }
  }

  .csw-substack-gradient-custom {
    border-radius: 0 !important;
    height: 35px !important;

    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('text-color') !important;
    }

    input {
      font-weight: 400;
      border-radius: 0 !important;
      font-size: 16px !important;
      padding-left: 24px !important;

      @include ktheme() {
        background: theme('background-color') !important;
        color: theme('text-color') !important;
        &::placeholder {
          color: theme('placeholder-color') !important;
        }
      }
    }
    button {
      font-size: 16px !important;
      font-weight: 400 !important;
      padding: 0 28px !important;

      @include ktheme() {
        border-left: 1px solid theme('text-color') !important;
        &:hover {
          background: theme('background-color') !important;
          color: theme('text-color') !important;
        }
      }
    }
  }

  .left-blurred-image {
    position: absolute;
    left: -20rem;
    top: -30rem;
  }

  .subtitle {
    @include ktheme() {
      color: theme('text-color');
    }
  }
}

.icons {
  &__list-item {
    padding: 0 2px;
  }
}
