.footer-container {
  position: relative;
  border-top: 1px solid;
  @include ktheme() {
    background: theme('background-color');
  }

  .subtitle {
    font-weight: 700;
  }

  .container {
    z-index: 1;
    @include mobile {
      flex-direction: column;
      gap: 50px;
      align-items: center !important;
    }
    gap: 30px;
  }

  &-inner {
    z-index: 1;
    position: relative;
    gap: 1rem;

    @include mobile {
      flex-direction: column;
      gap: 2rem;
      align-items: center !important;
    }
  }

  &-subs {
    @include mobile {
      align-items: center !important;
    }
  }

  &-info {
    @include mobile {
      align-items: center !important;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 10px;

      &-item {
        a:hover {
          @include ktheme() {
            color: theme('link-hover');
          }
        }
        &:first-child {
          padding-left: 0px;
        }
      }
    }
  }

  &-socials {
    @include mobile {
      align-items: center !important;
    }
    &-list {
      cursor: pointer;
      &-item {
        height: 33px;
        width: 33px;

        @include ktheme() {
          background: theme('background-color');
          border: 1px solid theme('border-color');
          box-shadow: theme('primary-shadow');
          &:hover {
            background: theme('k-accentHover');
            .icon, .o-icon {
              color: theme('black') !important;
            }
          }
        }
      }
    }
  }

  #custom-substack-embed .custom-substack-widget {
    border-radius: 0;
    height: 2.2rem;

    @include touch {
      flex-direction: column;
      flex-wrap: nowrap;
      height: 4.4rem;
    }
    @include ktheme() {
      box-shadow: theme('primary-shadow');
      border: 1px solid theme('border-color') !important;
    }

    input {
      font-weight: 400;
      border-radius: 0;
      font-size: 16px;
      padding-left: 24px;
      padding-top: 0;
      padding-bottom: 0;
      line-height: 1;

      @include touch {
        flex-basis: 100%;
      }

      @include ktheme() {
        background: theme('background-color') !important;
        color: theme('text-color') !important;
        &::placeholder {
          color: theme('placeholder-color') !important;
        }
      }
    }
    button {
      font-size: 16px;
      font-weight: 400;
      padding: 0 28px;
      border-left: 1px solid;

      @include ktheme() {
        border-color: theme('border-color');
        &:hover {
          background: theme('background-color') !important;
          color: theme('text-color') !important;
        }
      }

      @include touch {
        width: 100%;
        border-left: none;
        border-top: 1px solid;
        padding: 0;
        justify-content: center;
        flex-basis: 100%;
      }
    }
  }

  .left-blurred-image {
    position: absolute;
    left: -20rem;
    top: -30rem;
  }

  .subtitle {
    @include ktheme() {
      color: theme('text-color');
    }
  }
}

.icons {
  &__list-item {
    padding: 0 2px;
  }
}
