.footer {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    height: 135px;

    @include desktop {
      flex-direction: row;

      opacity: 0.3;
      &:hover {
        opacity: 1;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__list-item {
    position: relative;
    padding: 0 8px;

    &:not(:last-child) {
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 1px;
        height: 12px;
        background: #fff;
      }
    }
  }

  .snackbar {
    border: 2px solid $primary;
    background-color: #202225;
    box-shadow: $dropdown-content-shadow;
  }

  #keyboardShortcutsModal {
    height: 0;
  }
}

.footer-container {
  background-color: $k-blue;
  color: $white;
  padding: 3rem 1rem;

  &-heading {
    font-size: 20px;
    font-weight: 700;
  }
  &-subs {
  }
  &-info {
    gap: 16px;
    &-list {
      &-item {
        position: relative;
        padding: 0 12px;
        a {
          color: $white !important;
          &:hover {
            color: $k-accentlight !important;
          }
        }
        &:first-child {
          padding-left: 0px;
        }
        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -5px;
            width: 6px;
            height: 6px;
            background: #fff;
          }
        }
      }
    }
  }
  &-socials {
    gap: 8px;
    &-list {
      &-item {
        height: 33px;
        width: 33px;
        background: $white;
        border: 1px solid $black;
        box-shadow: $primary-shadow;
        .icon {
          svg {
            height: 16px;
          }
        }
        &:hover {
          a {
            color: $k-accentlight !important;
          }
        }
      }
    }
  }
}

.icons {
  &__list-item {
    padding: 0 2px;
  }
}
