// Reserved for future adjustments

//@media only screen and (min-width: 1024px) and (max-width: 1200px) {
//  a#NavCreate {
//    display: none;
//  }
//}

//@media only screen and (min-width: 1024px) and (max-width: 1250px) {
//  div#NavChainSelect {
//    display: none;
//  }
//}

//@media only screen and (min-width: 1024px) and (max-width: 1340px) {
//  div#NavLocaleChanger {
//    display: none;
//  }
//}

@include touch {
	.navbar {
		.custom-navbar-item {
			margin-left: 0 !important;
		}

		.navbar-dropdown .b-tooltip {
			width: 100%;
		}

		#NavProfile {
			margin-left: 0;
			.dropdown-trigger .button {
				width: 100vw;
			}
		}

		.dropdown.is-mobile-modal>.dropdown-menu {
			-webkit-transform: translate3d(-50%, 10%, 0);
			transform: translate3d(-50%, 10%, 0);
		}
	}
}

.has-spaced-navbar-fixed-top {
	padding-top: 72px !important;
}

.navbar {
	background-color: inherit;
	backdrop-filter: blur(20px);
	transform: translateZ(0px);
	transition: 0.3s ease;
	-webkit-transition: 0.3s ease;
	z-index: 999 !important;
	font-family: 'Work Sans';
	min-height: 72px;
	&.is-spaced {
		padding: 0;
		&>.container {
			.navbar-menu {
				margin-right: 0;

				.button {
					height: 40px;
				}
			}
		}
	}

	&.navbar-shrink {
		box-shadow: none;
		max-height: 70px;
		padding-top: 6px !important;
		padding-bottom: 6px !important;
		background-color: rgba(12, 12, 12, 0.7) !important;
	}

	.navbar-item {
		text-transform: capitalize;
		font-weight: 500;
		margin: 0.5em;
	}

	.custom-navbar-item {
		margin-left: 0.5em;
	}

	.navbar-brand {
		align-items: center;

		.navbar-burger {
			height: 2.5em;
			width: 2.5em;
			margin-left: 0.5em;
			color: $black;

			&:hover {
				border-top: 1px solid #ff47ac !important;
			}
		}
	}

	.navbar-start {
		flex: 1;
		margin-top: 24px;
	}

	.navbar-dropdown {
		border: 2px solid $primary-light  !important;
		box-shadow: $dropdown-content-shadow  !important;
	}

	.search-navbar {
		box-shadow: none;
		width: min-content;
		min-width: 100px;

		.dropdown-menu {
			> .dropdown-content {
				width: 550px;
			}
		}
	}

	.search-navbar-container-mobile {
		width: 0;
		height: 0;
		overflow: hidden;

		input {
			color: $white;
			padding: 0;
			z-index: 1;

			&:focus {
				box-shadow: none !important;
				border-top: 2px solid $primary;
			}
		}
	}

	#NavProfile {
		.button.is-primary {
			background: $k-accent;
			border: 1px solid black !important;
			border-radius: 0;
			z-index: 3;
		}
	}

	.mobile-nav-search-btn {
		background: $white;
		border: 1px solid $black;
		box-shadow: 4px 4px 0px $black;
		width: 33px;
		height: 30px;
		border-radius: 0;
	}
}
