html {
  height: 100%;
  background-color: $white;
  &.dark-mode {
    background-color: $scheme-main;
  }
}

body,
div#__nuxt,
div#__layout,
main {
  //without this, footer image is above main contents
  // block hover, click events
  z-index: 100;
  height: 100%;
}

main {
  background-color: unset !important;
}

body {
  @include ktheme() {
    color: theme('text-color');
  }
  a {
    @include ktheme() {
      color: theme('text-color');
    }
    &:hover {
      @include ktheme() {
        color: theme('link-hover');
      }
    }
  }

  strong,
  .title,
  .subtitle,
  .card-header-title {
    @include ktheme() {
      color: theme('text-color');
    }
  }

  .input,
  select,
  textarea,
  .taginput-container {
    @include ktheme() {
      background-color: theme('background-color') !important;
      color: theme('text-color') !important;
      &::placeholder {
        color: theme('placeholder-color') !important;
      }
    }
  }

  .select {
    &:not(.is-multiple):not(.is-loading)::after {
      @include ktheme() {
        border-color: theme('text-color');
      }
    }
  }

  .select select[disabled] {
    @include ktheme() {
      background-color: theme('disabled') !important;
      color: theme('placeholder-color') !important;
    }
  }

  .label {
    color: $primary;
    text-transform: uppercase;
    font-size: calc(1rem * 0.75);
  }

  .loading-overlay .loading-background {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .orientation {
    perspective: 30em;
  }

  .b-tabs .tab-content {
    padding: 1rem 0;
  }

  .money-cursor,
  .money-cursor .button {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💸</text></svg>"),
      auto;
  }

  .message.is-primary .message-body {
    color: $light-text;
  }

  .b-steps .steps .step-items .step-item .step-details .step-title {
    color: $primary;
  }
}

.container.is-fluid {
  padding-left: $fluid-container-padding;
  padding-right: $fluid-container-padding;
}

.control-label {
  @include ktheme() {
    color: theme('text-color');
  }
}

@include mobile {
  .column-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin: 0 -12px !important;
  }
  .container.is-fluid {
    padding-left: $fluid-container-padding-mobile;
    padding-right: $fluid-container-padding-mobile;
  }
}

// global css for pagination
.pagination-link {
  border: none !important;
  @include ktheme() {
    border-top: 1px solid theme('k-primary') !important;
  }
}

/* move to global */
.is-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.force-clip {
  max-width: 85%;
  max-height: 24px;
}

.w-100 {
  width: 100% !important;
}

.b-radio.radio.button.is-selected {
  @include ktheme() {
    background-color: theme('k-primary');
  }
}
.b-radio.is-selected {
  @include ktheme() {
    background-color: theme('k-primary');
    color: theme('black');
  }
}

.collection-radio-btn .b-radio.radio.button {
  border: none !important;
  @include ktheme() {
    border-top: 1px solid theme('k-primary') !important;
  }
}

.short-identity__table {
  max-width: 50em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.type-table {
  white-space: nowrap;
}

.collapseHidden {
  .collapse-trigger {
    display: none;
  }
}

.image-outline {
  @include ktheme() {
    border: 1px solid theme('border-color');
  }
  border-radius: 50%;
}

.box {
  .box-container {
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
    }
  }

  @include tablet {
    .short-name-column {
      width: 20%;
    }
  }
}

.chain-logo {
  aspect-ratio: 127 / 42;
}

.instance {
  &:last-child {
    border-bottom: none !important;
  }
  @include ktheme() {
    border-bottom: 1px solid theme('border-color');
  }
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}
hr {
  height: 1px;
  @include ktheme() {
    background: theme('k-grey');
  }
}

.dropdown-content {
  border-radius: 0;
  @include ktheme() {
    box-shadow: theme('primary-shadow');
    border: 1px solid theme('border-color');
    background: theme('background-color');

    .dropdown-item {
      color: theme('text-color');
    }
  }
}

.has-text-grey {
  @include ktheme() {
    color: theme('k-grey') !important;
  }
}

.snackbar {
  @include ktheme() {
    border-radius: 0;
    color: theme('text-color');
    background: theme('background-color');
    box-shadow: theme('primary-shadow');
    border: 1px solid theme('border-color');

    .button {
      background-color: theme('k-accentlight2') !important;
      color: theme('text-color') !important;
    }
  }
}

.icon svg {
  width: 1rem;
  height: 1rem;
}

// global table css

.table {
  @include ktheme() {
    background-color: theme('background-color');
    color: theme('text-color');

    &.is-hoverable tbody tr:not(.is-selected):hover {
      background-color: theme('background-color');
    }

    th {
      color: theme('text-color');
      background-color: theme('background-color') !important;
    }
  }
}

.fluid-padding-left {
  padding-left: $fluid-container-padding;
}
.border-bottom {
  @include ktheme() {
    border-bottom: 1px solid theme('border-color');
  }
}
.border-top {
  @include ktheme() {
    border-top: 1px solid theme('border-color');
  }
}
.border {
  @include ktheme() {
    border: 1px solid theme('border-color');
  }
}

//colors

.has-text-k-green {
  @include ktheme() {
    color: theme('k-green');
  }
}
.has-text-k-red {
  @include ktheme() {
    color: theme('k-red');
  }
}

.has-text-k-blue {
  @include ktheme() {
    color: theme('k-blue');
  }
  &:hover {
    @include ktheme() {
      color: theme('k-blue-hover');
    }
  }
}

.k-pink {
  @include ktheme() {
    background-color: theme('k-pink');
  }
}
.k-greenaccent {
  @include ktheme() {
    background-color: theme('k-greenaccent');
  }
}

.k-yellow {
  @include ktheme() {
    background-color: theme('k-yellow');
  }
}
.theme-background-color {
  @include ktheme() {
    background-color: theme('background-color');
  }
}

.k-blueaccent {
  @include ktheme() {
    background-color: theme('k-blueaccent');
  }
}

//hover

.is-hoverable-item {
  @include ktheme() {
    &:hover {
      background-color: theme('k-accentlight2');
    }
  }
}

.dialog {
  .modal-background {
    background-color: transparent;
  }

  .modal-card {
    top: 100px;
    position: absolute;
    left: 0;
    @include ktheme() {
      border: 1px solid theme('border-color');
      box-shadow: theme('primary-shadow');
    }
  }

  .modal-card-foot {
    border-top: 0;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .modal-card-body,
  .modal-card,
  .modal-card-foot {
    @include ktheme() {
      color: theme('text-color');
      background-color: theme('background-color');
    }

    .button {
      border-radius: 0;
      font-weight: 400 !important;
      text-transform: capitalize;
      @include ktheme() {
        border: 1px solid theme('border-color');
        color: theme('text-color');
        background: theme('background-color');
        box-shadow: theme('primary-shadow');
        &:hover {
          background: theme('k-accentHover') !important;
          color: theme('black');
        }
      }
    }

    .modal-card-foot:before {
      content: ' ';
      width: 121px;
      height: 1px;
      vertical-align: super;
      display: inline-block;
      @include ktheme() {
        background-color: theme('k-red');
      }
    }
    
    .modal-card-foot:after {
      content: ' ';
      width: 121px;
      height: 1px;
      vertical-align: super;
      display: inline-block;
      @include ktheme() {
        background-color: theme('k-accent');
      }
    }
  }
}
