// ABSTRACTS
@import "abstracts/variables";
@import "abstracts/animations";
@import "abstracts/mixins";
@import "abstracts/fonts";

// FRAMEWORK (note: don't move this on top)
@import "~bulma";
@import "~buefy/src/scss/buefy";

// GLOBAL
@import "./global.scss";

// BASE STYLES
@import "base/reset";
@import "base/typography";

// COMPONENTS
@import "components/article";
@import "components/button";
@import "components/card";
@import "components/carousel";
@import "components/modal";
@import "components/tippy";
@import "components/search";
@import "components/top-collections";

// LAYOUTS
@import "layouts/footer";
@import "layouts/main-navigation";

// THEMES
@import "themes/dark";
@import "themes/light";
