// ABSTRACTS
@import "abstracts/variables";
@import "abstracts/animations";
@import "abstracts/fonts";

// FRAMEWORK (note: don't move this on top)
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~@oruga-ui/oruga/src/scss/oruga";

// GLOBAL
@import "./global.scss";

// BASE STYLES
@import "base/reset";
@import "base/typography";

// COMPONENTS
@import "components/button";
@import "components/card";
@import "components/carousel";
@import "components/modal";
@import "components/tippy";
@import "components/search";
@import "components/toast";
@import "components/top-collections";
@import "components/scroll-to-top-button";
@import "components/price-chart";
@import "components/collection-card";

// OVERRIDE ORUGA COMPONENTS
@import "components/o-table";
@import "components/o-tabs";
@import "components/o-tooltip";

// LAYOUTS
@import "layouts/footer";
@import "layouts/main-navigation";

// THEMES
@import "themes/dark";
@import "themes/light";
