name: Reviewdog

on:
  pull_request:
    branches: [main]

jobs:
  eslint:
    name: runner / eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "16"

      - name: Install Dependencies
        run: yarn

      - name: Run eslint with reviewdog
        uses: reviewdog/action-eslint@v1.15.0
        with:
          level: error
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          eslint_flags: "--quiet --ignore-path .gitignore --ext .js,.ts,.vue ."
          fail_on_error: true
          filter_mode: nofilter
